.App {
  background-color: #008080;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  min-width: 300px;
}

.window-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
